<div class="col-sm-4 {{ offset }}">
	<div class="well">
		<div class="panel-thumbnail" style="padding-top: 5px">
			<img src="{{ game.gameLogo }}" class="img-responsive gameImg"
				height="{{ game.logoH }}" width="{{ game.logoW }}" />
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="text-center">
					<h4>
						<strong>Mis n&uacute;meros</strong>
					</h4>
				</div>
			</div>
            <div class="row" id="{{ game.gameName }}-nrList" >
                <div class="center-block" style="max-width:{{ game.gameNrWidth }}px;background-color:#ccc;">
{% for i in 0..game.gameNumbers-1 %}
					<input type="text" 
					       class="entryNumber {{ game.nrFormats[i] }}"  
					       maxlength="2" id="nr[]"
					       data-game="{{ game.gameId }}" 
					       size="2"/>
{% endfor %}					
                  </div>
            </div>
			<div class="row">
				<div class="text-center">
					<h4>
						<strong>Elija el sorteo</strong>
					</h4>
				</div>
			</div>
			<div class="row">
				<form class="form-inline">
					<div class="form-group">
						<!--div class="input-group date col-xs-9">
							<input type="text" 
							       class="form-control" 
							       id="{{ game.gameId }}-date" 
							       data-gamefilter="{{ game.gameId }}"
							       placeholder="Fecha de sorteo"> 
								<span class="input-group-addon"> 
									<i class="glyphicon glyphicon-th"> </i>
								</span> 
							</input>
						</div-->
						<input type="text" 
						       class="form-control" 
						       id="{{ game.gameId }}-nr"
						       data-gamefilter="{{ game.gameId }}"
						       placeholder="N&uacute;mero de sorteo"/>
						{% if game.askForBet %}
							<div class="input-group">
								<input type="text" 
								       class="form-control" 
								       id="{{ game.gameId }}-bet"
								       data-gamefilter="{{ game.gameId }}"
								       placeholder="Monto de la apuesta"/>
								<span class="input-group-addon">Gs</span>
							</div>
						{% else %}
							<input type="hidden" 
							       class="form-control" 
							       id="{{ game.gameId }}-bet"
							       value="1"/>
						{% endif %}
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button type="button" 
					        class="btn btn-raised btn-primary btn-sm"
						    id="{{ game.gameName }}-clear" 
						    data-gameId="{{ game.gameId }}"
						    onClick="prizeClear('{{ game.gameId }}')">
						Borrar datos
					</button>
					<button type="button" 
					        class="btn btn-raised btn-primary btn-sm"
						    id="{{ game.gameName }}-submit" 
						    data-gameId="{{ game.gameId }}"
						    onClick="prizeClick('{{ game.gameId }}')">
						Ver premio
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
