<div class="col-sm-4 {{ offset }}" >
	<div class="well">
		<div class="panel-thumbnail" style="padding-top: 5px">
			<img src="{{ game.gameLogo }}" class="img-responsive gameImg"
				height="{{ game.logoH }}" width="{{ game.logoW }}" />
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="text-center">
					<h4>
						<strong>Mis n&uacute;meros</strong>
					</h4>
				</div>
			</div>
            <div class="row" id="{{ game.gameName }}-nrList" >
                <div class="center-block" style="max-width:{{ game.gameNrWidth }}px;background-color:#ccc;">
{% for i in 0..game.gameNumbers-1 %}
					<input type="text" 
					       class="entryNumber {{ game.nrFormats[i] }}"  
					       maxlength="2" id="nr[]"
					       data-game="{{ game.gameId }}" 
					       size="2"/>
{% endfor %}					
                  </div>
            </div>
			<div>
				<form class="form-horizontal">				
					<div class="form-group">
					    <label class="control-label col-xs-6"
					           for="{{ game.gameId }}-nr">
					           N&uacute;mero de sorteo
					    </label>
					    <div class="col-xs-6">
					    <input type="text" 
					           class="form-control" 
					           name="{{ game.gameId }}-nr"
					           id="{{ game.gameId }}-nr"
					          data-gamefilter="{{ game.gameId }}"/>
					    </div>
					</div>
					<div class="form-group">
						{% if game.askForBet %}
						<label class="control-label col-xs-6"
						       for="{{ game.gameId }}-bet">
						       Monto de la apuesta
						</label>		
						<div class="col-xs-6">
						    <select class="combobox form-control"
						            id="{{ game.gameId }}-bet"
						            data-control-type="select"
						            data-gamefilter="{{ game.gameId }}">
						    	<option></option>
						    {% for stake in stakes %}
						        <option>{{ stake }}</option>
						    {% endfor %}
						    </select>
						</div>
						{% else %}
						    <input type="hidden" 
						    id="{{ game.gameId }}-bet"
						    value="1"/>
						{% endif %}
					</div>






				</form>
			</div>

			<div class="row">
				<div class="col-sm-12 col-xs-offset-1">
					<button type="button" 
					        class="btn btn-raised btn-primary btn-sm"
						    id="{{ game.gameName }}-clear" 
						    data-gameId="{{ game.gameId }}"
						    onClick="prizeClear('{{ game.gameId }}')">
						Borrar datos
					</button>
					<button type="button" 
					        class="btn btn-raised btn-primary btn-sm"
						    id="{{ game.gameName }}-submit" 
						    data-gameId="{{ game.gameId }}"
						    onClick="prizeClick('{{ game.gameId }}')">
						Ver premio
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
