<div class="col-sm-4">
	<div class="well">
		<div class="panel-thumbnail" style="padding-top: 5px">
			<img src="{{ gameLogo }}" class="img-responsive gameImg"
				height="{{ logoH }}" width="{{ logoW }}" />
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="text-center">
					<h4>
						<strong>Mis n&uacute;meros</strong>
					</h4>
				</div>
			</div>
            <div class="row" id="{{ gameName }}-nrList" >
                <div class="center-block" style="width:{{ gameNrWidth }}px;background-color:#ccc;">
{% for i in 0..gameNumbers-1 %}
					<input type="text" 
					       class="entryNumber {{ nrFormats[i] }}"  
					       maxlength="2" id="nr[]"
					       data-game="{{ gameId }}" 
					       size="2"/>
{% endfor %}					
                  </div>
            </div>
			<div class="row">
				<div class="text-center">
					<h4>
						<strong>Fecha del sorteo</strong>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1">
					<div class="input-group date">
						<input type="text" class="form-control" id="{{ gameId }}-date"> 
							<span class="input-group-addon"> 
								<i class="glyphicon glyphicon-th"> </i>
							</span> 
						</input>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<button type="button" 
					        class="btn btn-raised btn-primary"
						    id="{{ gameName }}-submit" 
						    data-gameId="{{ gameId }}"
						    onClick="prizeClick('{{ gameId }}')">
						Ver premio
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
