<div class="row">
	<div class="col-xs-10">
		<table class="table table-striped">
			<tr>
				<td colspan="3">
					<h3>
						<strong>Sorteos del d&iacute;a {{ gameDate }}</strong>
					</h3>
				</td>
			</tr>
			{% for r in rowList %}
			<tr class="vcenter">
				<td>
					<span class='entryNumberText'> 
					<h4><strong>Sorteo Nro. {{ r.drawNr }}</strong></h4> 
					</span>
				</td>
				<td>{% for gH in r.gameHits["nrList"] %}
						<span class='entryNumber entryNumber{{ gH["hit"]== 0 ? 'No' }}Hit'>
					 		{{gH["nr"] }} 
						</span>
					{% endfor %}
				</td>
				<td>
					<span class='entryNumberText'> 
						<h4><strong>{{ r.gameHits["prize"] }}</strong></h4> 
					</span>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
