<style type="text/css">
	.tab{{gameName}}Bg {
	        background:url('{{gameLogo}}') #f0f0f0 no-repeat center;
	        border-bottom:4px solid #093!important;
	        height: 85px;
	}
	.colTab {
	        border-right:4px solid #093!important;	
	}
	.panelBg {
		background:#f0f0f0;
        border:1px solid #093!important;
	}
</style>
<div class="panel panelBg col-xs-6">
    <div class="row tab{{gameName}}Bg">
    </div>
    <div class="row">
        <div class="text-center">
        	<h4>Mis n&uacute;meros</strong></h4>
        </div>
    </div>
    <div class="row center-block" id="{{ gameName }}-nrList">
{% for i in 1..gameNumbers %}
            <input type="text" class="form-control entryNumberWhite"  maxlength="2" id="nr[]" data-game="{{ gameId }}" size="2"/>
{% endfor %}            
    </div>
    <div class="row">
        <div class="text-center">
            <h4>Fecha del sorteo</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="input-group date">
                <input type="text" class="form-control" id="{{ gameName }}-date">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th">
                        </i>
                    </span>
                </input>
            </div>
        </div>
    </div>
    <div class="row">
    	<h4>&nbsp;</h4>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-offset-6">
                <button type="button" class="btn btn-primary btn-large" id="{{gameName}}-submit" data-gameId="{{ gameId }}">
                	<i id="{{ gameName }}-spinner-r" class="fa fa-refresh fa-spin hidden"></i>
                    Buscar premio
                </button>
                <button type="button" class="btn btn-primary btn-large" id="{{gameName}}-previous">
                	<i id="{{ gameName }}-spinner-prv" class="fa fa-refresh fa-spin hidden"></i>
                    Sorteos anteriores
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table border="1"  id="{{gameName}}-tab-r" class="table table-striped">
                <tbody>
                <tr>
                	<td>
                	qqrulo
                	</td>
                </tr>
            </table>
        </div>
    </div>
</div>
